In [1]:
Tuple_1 = (1, "Amit", "MDH", 3+5j, 55.9, [1,2,3], (2,5,9))

In [2]:
Tuple_1

(1, 'Amit', 'MDH', (3+5j), 55.9, [1, 2, 3], (2, 5, 9))

In [3]:
Tuple_1[2] = "Goldee"

TypeError: 'tuple' object does not support item assignment

In [6]:
len(Tuple_1)

7

In [4]:
Tuple_1[-1]

(2, 5, 9)

In [5]:
Tuple_1[6]

(2, 5, 9)

In [7]:
Tuple_2 = (1,1,1,2,3,3,4,5)

In [8]:
Tuple_2

(1, 1, 1, 2, 3, 3, 4, 5)

In [9]:
print(type(Tuple_1))

<class 'tuple'>

In [11]:
Tuple_3  = (1)

In [12]:
print(type(Tuple_3))

<class 'int'>

In [13]:
Tuple_4  = (1,)
print(type(Tuple_4))

<class 'tuple'>

In [14]:
# The tuple() Constructor -- practice it yourself

In [15]:
x = ("apple", "banana", "cherry")

In [16]:
type(x)

tuple

In [17]:
Y = list(x)

In [19]:
Y

['apple', 'banana', 'cherry']

In [20]:
Y[1] = "kiwi"
x = tuple(Y)

print(x)

('apple', 'kiwi', 'cherry')

In [21]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [24]:
a = (88, 89, 28, 67, 76)
print(a)
print(type(a))
b = list(a)
b[2] = 99
a = tuple(b)
print(a)

(88, 89, 28, 67, 76)
<class 'tuple'>
(88, 89, 99, 67, 76)

In [25]:
Tuple_2

(1, 1, 1, 2, 3, 3, 4, 5)

In [26]:
del Tuple_2

In [27]:
Tuple_2

NameError: name 'Tuple_2' is not defined

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [30]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(*green, tropic, red) = fruits

print(green)
print(tropic)
print(red)

['apple', 'mango', 'papaya']
pineapple
cherry

In [32]:
fruits

('apple', 'mango', 'papaya', 'pineapple', 'cherry')

In [33]:
for i in fruits:
    print(i)

apple
mango
papaya
pineapple
cherry

In [40]:
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
mango
papaya
pineapple
cherry

In [41]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [42]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')