## When you know in how many times a certain condition will match, use for loop.
## Means you already know in how many times you are going to finish the work.

In [4]:
# Iterating through a string
name_std = "Kishuk"

In [5]:
for i in name_std:
    print(i)

K
i
s
h
u
k

In [6]:
# iterating through a list
cities = ["Delhi","Lucknow","Jaipur","Bengaluru"]

for a in cities:
    print(a)

Delhi
Lucknow
Jaipur
Bengaluru

In [8]:
# iterating through a tuples
kuch_bhi = ("1",2,5.0j,True)

for a in kuch_bhi:
    print(a)

1
2
5j
True

In [9]:
# iterating through set
random_val = {'aaa',122323,74732782}

for i in random_val:
    print(i)

122323
aaa
74732782

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [16]:
cities = ["Delhi","Lucknow","Jaipur","Bengaluru"]

for a in cities: 
    if a == "Lucknow":
        continue
    print(a)

Delhi
Jaipur
Bengaluru

In [17]:
for n in range(8):
    print(n)

0
1
2
3
4
5
6
7

In [18]:
for m in range(10,15):
    print(m)

10
11
12
13
14

In [19]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [20]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [21]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [23]:
for i in range(9):
    pass